.add-con{
    display: flex;
    width: 100%;
    justify-content: center;
}
.add-container {
    width: 50%;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
.load_container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-container {
    position: absolute;
    height: 500px;
    width: 700px;
    background-color:white;
    top: 20%;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}